<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ConnectionConfiguration" value="type,args"/>
        <add key="ConnectPramas" value="COM,COM12,9600"/>
        <add key="ConnectPramas1" value="TCP,192.168.40.7,502"/>
        <add key="ConnectPramas2" value="UDP,192.168.40.7,502"/>
    </appSettings>
</configuration>